a {
  margin: 10px;
  max-width: 150px;
}

.bg-laranja {
  background-color: #f08027;
}

.bg-cinza {
  background-color: #b3b3b3;
}

.mg-b {
  margin-bottom: 60px;
}

h3 {
  color: #141414;
  font-size: 18px;
}

